<!-- picture logomarca on smaller devices -->
<div class="header-logo  hidden-md-up">
  <img src="/assets/img/logomarca.300x185.png" alt="" />
</div>

<p class="sub-title">
  {{{t.beiraMar}}}<br class="hidden-xl-up">
  {{{t.emNatal}}}
</p>
<div style="height:999px;">

</div>
