
    <p class="sub-title">
      {{{t.beiraMar}}}<br class="hidden-xl-up">
      {{{t.emNatal}}}
    </p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
    <p style="font-size:30px">blabla</p>
