<!DOCTYPE html>
<html>

<head>
  <title>index {{lang}}</title>
</head>

<body>
  <div id="app">
    <p class="lead">{{json myObj}}
      <br>
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.</p>
    </div>
  </body>

  </html>
