<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hotel du Suisse</title>
  <meta name="description" content="Redirect to first valid LANGUAGE/index.html">
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
</head>

<body>
  <script type="text/javascript">
    // get implemented languages from languages.json via helper
    var implementedLanguages = {{varImplementedLanguages PROJ_ROOT}};
    // get accepted languages from browser
    var browserLangs = [];
    if (_.isArray(navigator.languages)) {
      navigator.languages.forEach( function(l) {
        browserLangs.push( l.substr(0,2) );  // pt-BR -> pt, etc.
      })
    } else {
      if (window.navigator.language)
        browserLangs.push (window.navigator.language.substr(0,2));
      else if (navigator.userLanguage)
        browserLangs.push (navigator.userLanguage.substr(0,2));
    }
    // valid languages: in both implemented and browser
    var validlangs = _.intersection(implementedLanguages, browserLangs);
    // switch to first valid language; default = first implemented language
    var lang = validlangs.length ? validlangs[0] : implementedLanguages[0];
    // lang = langs.available[2]; // TEST english
    window.location.replace(lang + "/index.html");
  </script>
</body>
</html>
