<!DOCTYPE html>
<html>

<head>
  <title>index</title>
</head>

<body>
  <div id="app">
    {{> title}}
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <p>
      <a href="A/index.html">A</a>
      <br>
      <a href="B/index.html">B</a>
    </p>
  </div>
</body>

</html>
