<!-- sticky top menu-bar on -sm- devices or smaller -->
<div class="headerSmall hidden-md-up">

  <div id="btn-menu-dropdown" class="dropdown menu-dropdown">
    <button class="btn dropdown-toggle" type="button"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <span class="menubar-menu-toggler">&#9776;</span>
      <span id="menubarTitle" class="menubar-title">Pousada Nossa Praia</span>
    </button>

  </div>

  <div id="btn-flags-dropdown" class="dropdown flags-dropdown">
    <button class="btn dropdown-toggle" type="button"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <img src="/assets/img/flags32/{{lang}}.png" alt="" />&#9660;
    </button>

  </div>
</div>
