<!-- header with background picture -->
<div class="headerLarge hidden-sm-down">
  <div class="logomarca"></div>
  <div class="title-box">
    <span class="title">{{{t.bem-vindo}}}</span>
  </div>
  <div class="flag-box">
    {{navFlags lang PROJ_ROOT false}}
  </div>

  <!-- BS navbar for the navigation buttons -->
  <div class="navLarge-area">
      <div class="navLarge-bar">
        {{navSections lang PROJ_ROOT false}}
      </div>   <!-- end of navLarge bar -->
  </div>   <!-- end of navLarge-area -->

</div>
