
.sub-title {
  font-family: titleFont;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2em;
  color: yellow;
  text-align: center;
  text-shadow: 2px 3px 0px rgb(0,0,100);
  @include media-breakpoint-up(lg) {
    font-size: 2em;
    line-height: 1.0em;
  }
}
